div.accordion {
    cursor: pointer;
    transition: 0.4s;
}

div.accordion.active, div.accordion:hover {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

div.accordion:after {
    content: '+';
    font-size: 13px;
    float: right;
	margin: -40px 30px;
}

div.accordion.active:after {
    content: "-";
}

div.panel {
    max-height: 0;
    overflow-y: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 150px;
    overflow-y: scroll;
}
