/* Generic Tags */
body {
	height: 100%;
	left: 0px;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #FFFFFF;
}

hr {
	border: 0;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.dark {
	border: 0;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, rgba(119, 119, 119, 0), rgba(119, 119, 119, 0.75), rgba(119, 119, 119, 0));
}

li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Classes */
.keywordList {
	height: 9.5em;
	overflow-x: auto;
}

.trend {
	/*height: 14em;*/
	overflow: hidden;
}

.animate-hide {
  transition: all linear 0.5s;
  line-height: 15px;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  height: 0px;
  z-index:1000;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 0px;
  z-index:-1;
}


/* IDS */
#mapid {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
}

#logo {
    z-index: 1;
	width: 100%;
	padding: 15px 0 5px;
	margin: 0 auto;
	font-size: 40px;
	text-shadow: 0 0 3px #FFFFFF;
	background-color: rgba(0, 172, 237, 0.8);
	position: fixed;
	border-bottom: thick solid rgba(0,0,0,0);
}

#icon-customize {
	cursor: pointer;
	/*away from top by size of text + 2*shadow size + 2*padding*/
	margin: 90px 5px 0;
	padding: 5px;
	left: 0px;
	font-size: 16px;
	text-shadow: 0 0 1px #FFFFFF;
	position: fixed;
	background-color: #517fa4;
	border-radius: 5px;	
}

#left-panel {
	width: 300px;
	height: 100%;
	left: -330px;
	/*away from top by size of text + 2*shadow size + 2*padding*/
	margin: 80px 0; 
	padding: 5px 15px 5px 5px;
	font-size: 16px;
	text-shadow: 0 0 1px #FFFFFF;
	background-color: rgba(81, 127, 164, 0.8);
	position: fixed;
	border-right: thick solid rgba(0,0,0,0);
}

#icon-close-left {
	cursor: pointer;
	/*away from top by size of text + 2*shadow size + 2*padding*/
	margin: 5px 0;
	font-size: 16px;
	text-shadow: 0 0 1px #000000;
	text-align: right;
}

#opacity-range-google {
	width: 85%;
	margin: 5px auto;
}

#opacity-range-twitter {
	width: 85%;
	margin: 5px auto;
}

#border-toggle {
	width: 15%;
	margin: 5px auto;
}

#icon-trends {
	cursor: pointer;
	/*away from top by size of text + 2*shadow size + 2*padding*/
	margin: 90px 5px 0;
	padding: 5px;
	right: -320px;
	font-size: 16px;
	text-shadow: 0 0 1px #FFFFFF;
	position: fixed;
	background-color: #517fa4;
	border-radius: 5px;
}

#right-panel {
	width: 300px;
	height: 100%;
	right: 0px;
	/*away from top by size of text + 2*shadow size + 2*padding*/
	margin: 80px 0; 
	padding: 5px 15px 5px 5px;
	font-size: 16px;
	text-shadow: 0 0 1px #FFFFFF;
	background-color: rgba(81, 127, 164, 0.8);
	position: fixed;
	border-left: thick solid rgba(0,0,0,0);
}

#icon-close-right {
	cursor: pointer;
	/*away from top by size of text + 2*shadow size + 2*padding*/
	margin: 5px 0;
	font-size: 16px;
	text-shadow: 0 0 1px #000000;
	text-align: left;
}

#time-range {
	width: 85%;
	margin: 5px auto;
}

#footer {
    z-index: 1;
	width: 100%;
	bottom: 0;
	padding: 5px 0 30px;
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
	text-shadow: 0 0 1px #FFFFFF;
	background-color: rgba(0, 172, 237, 0.8); 
	position: fixed;
	border-top: thick solid rgba(0,0,0,0);
}

#icon-about {
    z-index: 1;
	cursor: pointer;
	margin: 70px 5px 0;
	padding: 5px;
	bottom: 10px;
	left: 0px;
	font-size: 18px;
	text-shadow: 0 0 1px #FFFFFF;
	position: fixed;
	background-color: #517fa4;
	border-radius: 5px;
}

#about {
	width: 100%;
	height: 100%;
	left: -100%;
	margin: 60px 0;
	text-shadow: 0 0 1px #FFFFFF;
	position: fixed;
	background-color: #517fa4;
}

#icon-close-about {
	cursor: pointer;
	margin: 5px 0;
	font-size: 24px;
	text-shadow: 0 0 1px #000000;
	text-align: right;
}

#about_container {
	width: 85%;
	height: 85%;
	margin: 0 auto;
	font-size: 24px;
}

#info_container {
    bottom: 70px;
    left: 0px;
    margin: 0 5px;
    padding: 5px;
    position: fixed;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #777;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #777;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}
